# dependencies
node_modules/
**/node_modules/

# build output
dist/
build/
**/dist/
**/build/

# env
.env
.env.local
.env.*.local
backend/.env
frontend/.env

# logs
logs/
*.log
npm-debug.log*
backend/tmp/

# misc
.DS_Store
.idea/
.vscode/
coverage/

# prisma
backend/prisma/*.db
designe/
